body {
  font-family: 'txjsRegular', Helvetica, Arial, sans-serif;
}

#cover {
  display: none;
}

a {
  color: #762F2F;
}

.code {
  font-size: 40px;
  margin: 0 0 24px;
  font-family: 'txjsSemiboldItalic';
  text-shadow: 2px 2px 0 #70969C,3px 3px 0 #FF6700;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
  color: #441F1D;
}

#schedule {
  max-width: 1080px;
  margin: 0 auto;
}

#schedule table {
  width: 90%;
  margin: 0 5%;
  border-collapse: collapse;
  border-spacing: 0;
  text-shadow: 0 1px rgba(255,255,255,.5);
}

#schedule th,
#schedule td {
  padding: 16px;
  border: 1px solid rgba(255,255,255,.2);
}

#schedule thead th {
  border: 1px solid transparent;
}

#schedule td table td {
  padding: 0;
  border: none;
}

#schedule td table td.row-stack-top {
  border-bottom: 1px solid #D0C8BD;
  padding-bottom: 10px;
}

#schedule td table td.row-stack-bot {
  padding-top: 10px;
}

#schedule th {
  vertical-align:middle;
  font-size: 16px;
  font-family: 'txjsSemiboldItalic';
  color: #F7F4DB;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  background-color: rgba(0,0,0,.3);
}

#schedule .col-time {
  width: 10%;
}

#schedule .col-track {
  width: 45%;
}

#schedule thead th {
  color: #F7F4DB;
  text-transform: uppercase;
}
        
#schedule tbody td:hover:not(.two-col),
#schedule tbody td.hover {
  background-color: #FFF;
}

#schedule tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,.4);
}

#schedule tbody tr:nth-child(odd) {
  background-color: rgba(255,255,255,.5);
}

#schedule .inactive {
  background-color:#ccc;
}

#schedule h4 {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 4px;
  color: #333;
  font-family: 'txjsSemiboldItalic';
  font-weight: normal;
}
.twttr {
  font-family: 'txjsRegularItalic';
  color: #566F72;
}
.twttr:hover {
  text-decoration: underline;
}
#schedule h5 {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px;
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}       

#schedule a {
  font-size: 14px;
  font-family: 'txjsSemiboldItalic';
}

#schedule .two-col {
  text-align: center;
}

#schedule .two-col-row {
  cursor: default !important;
}

#schedule img {
  margin:0 0 -10px 0;
}

#schedule tbody tr.now {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #FFF;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0 10px 10px rgba(0,0,0,.5);
  -o-box-shadow: 0 10px 10px rgba(0,0,0,.5);
  box-shadow: 0 10px 10px rgba(0,0,0,.5);
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

#schedule tbody tr td {
  cursor:pointer;
  position: relative;
}

#schedule tbody tr td.row-stack-top {
  border: 0;
  border-right: 1px solid #D0C88D;
}

#schedule td aside {
  position: absolute;
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 16px 0 0 -16px;
  z-index: 99999;
  background-color: #365052;
  text-shadow: none;
  color: #CFDCDD;
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
  overflow: hidden;
  padding: 0 16px;
  opacity: 0;
}

#schedule td:hover aside {
  padding: 16px;
  opacity: 1;
}

.schedinfo {
  width: 940px;
  margin: 30px auto;
  text-align: left;
  -moz-column-count: 3;
	-moz-column-gap: 30px;
	-webkit-column-count: 3;
	-webkit-column-gap: 30px;
	column-count: 3;
	column-gap: 30px;
}
.content {
  padding-bottom: 10px;
}

.schedinfo h3 {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 16px;
  color: #EFEFEF;
  font-family: 'txjsSemiboldItalic';
  font-weight: normal;
  text-shadow: 1px 1px 0 #4A686C;
}
.schedinfo small {
  margin-bottom: 4px;
  display: block;
  font-family: 'txjsSemiboldItalic';
  text-transform: uppercase;
  font-size: 16px; 
}
.schedinfo p {
  margin: 0 0 20px;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
}
